

<form action="/admin/Yorumlar/Update/@Model.Id" method="post">
    
    <input type="text" value="@Model.BlogsId" name="BlogsId"  hidden/>

    <input type="text" name="Commenter" value="@Model.Commenter" class="form-control" style="margin-bottom:15px">

    <input type="text" name="Explanation" value="@Model.Explanation" class="form-control" style="margin-bottom:15px">

    <input type="date" name="CommentDate" value="@Model.CommentDate.ToString("yyyy-MM-dd")" class="form-control" style="margin-bottom:15px">

    <input type="text" name="Email" value="@Model.Email" class="form-control" style="margin-bottom:15px">

    <select name="Status" class="form-control" style="margin-bottom:10px;">
        @if (Model.Status)
        {
            <option value="True">Aktif</option>
            <option value="False">Pasif</option>
        }
        else
        {
            <option value="False">Pasif</option>
            <option value="True">Aktif</option>
        }
    </select>

    <button type="submit" class="btn btn-primary"> Güncelle</button>


</form>